body{
  padding: 0;
  margin: 0;
  font-family: "나눔스퀘어 ac";
}
main{
  display: flex;
  flex-direction: column
}
.userId, .userPassWard{
  min-width: 100px;
  font-size: 1.2rem;
  font-weight: bold;
}
.login_table tr{
  margin: 0;
}
.tableBox{
  width: 30vw;
  height: 30vh;
  text-align: center;
}
.enterBox{
  width: 10vw;
  height: 10vh;
  border: 0px;
  border-radius: 10px;
  background-color: skyblue;
}