body{
  margin: 0;
  padding: 0;

}
header{
  margin-left: 1vw;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse
}
.mainGrid{
  display: grid;
  width: 100vw;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: 160px 400px 90px auto 200px;
}
.userBox{
  background-color: rgba(128, 128, 128, 0.144);
  width: 80vw;
  height: 100%;
  margin-left: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
#userName{
  font-size: 1.2rem;
  font-weight: bold;
}
.userBoxSection{
grid-column:1/5 ;
}