html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background-color: white(0, 0, 0, 0.328);
  /* overflow-X: hidden; */
  overflow-y: hidden;
  /* resize: */
}
::-webkit-scrollbar {
  display: none;
}
#frame{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

main{
  width: 400vw;
  height: 100vh;
  display: flex;


}
#photoGrid{
  padding: 25px;
  background-color: rgba(128, 128, 128, 0.27);
  display: grid;
  grid-template-columns: repeat(6,100px);
  grid-template-rows: repeat(6,100px);
  grid-gap: 10px;
  grid-template-areas:
  "photo1 photo1 photo1 photo1 photo2 photo2"
  "photo1 photo1 photo1 photo1 photo2 photo2"
  "photo1 photo1 photo1 photo1 photo2 photo2"
  "photo1 photo1 photo1 photo1 photo2 photo2"
  "photo4 photo4 photo3 photo3 photo3 photo3"
  "photo4 photo4 photo3 photo3 photo3 photo3";
  border-radius: 15px;


}

.photo1{
  grid-area: photo1;
  object-fit: contain;
}
.photo2{
  grid-area: photo2;

  object-fit: contain;
}
.photo3{
  grid-area: photo3;
  object-fit: contain;
  
}
#photoGrid img{
  transition: all .2s ease-in;
  cursor: pointer;
  width: 90%;
  height: 90%;
  border-radius: 15px;
}
#photoGrid .photo4{
  grid-area: photo4;
  object-fit: contain;
  width: 70%;
  height: 70%;
  position: relative;
  left: 50px;
  top: 20px;
}
#photoGrid img:hover{
  transform: scale(1.14);
  z-index: 3;

}
.text{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
#itemPerfume{
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
}
#itemHandCream{
  /* background-color: blue; */
  width: 100vw;
  height: 100vh;

}
#itemEtc{
  /* background-color: pink; */
  width: 100vw;
  height: 100vh;
}
.menuIcon{
  position: sticky;
  width: 35px;
  height: 35px;
}
.menu{
  position: absolute;
  left: 90vw; 
  top: 10vh;
}
.material-symbols-outlined{
  color: rgba(128, 128, 128, 0.514);
  width: 100px;
  font-size: 70px;
  cursor: pointer;
}
.material-symbols-outlined.left{
  position: absolute;
  top: 50vh;
  left:5vh;
}
.material-symbols-outlined.right{
  position: absolute;
  right:0 ;
  top: 50vh ;
}
.arrowBox{
  position: relative;
}
/* #widthPhoto{
  width: 80vw;
  height: 15vh;
  object-fit: cover;

} */
.imgPerfume{
  justify-content: center;
  align-items:center ;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(3,250px);
}
.itemPerfume{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

