
.main{
  width: 100vw;
  height: 100vh;
  display: flex ;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  z-index: -2;
}
.tableBox{
  display: flex;
  width: 30vw;
  height: 15vh;
  min-width: 400px;
  min-height: 180px;
  flex-direction: column;
  align-items: center;
  border: beige 1px solid;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  justify-content: center;
}
body{
  margin: 0;
  padding: 0;
  font-family: "나눔스퀘어 ac";
}

.userId, .userPassWard{
  min-width: 100px;
  font-size: 1.2rem;
  font-weight: bold;
}
.login_table tr{
  margin: 0;
}
.enterBox:hover{
  background-color: orange;
  color: white;
}
.enterBox{
  cursor: pointer;
  position: relative;
  top: 23px;
  left: 15px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: skyblue;
  border: 1px solid white;
}
.loginButtonBox{
  display: flex;
  align-items: center;
  min-width: 26vw;
  min-height: 3vh;
  justify-content: center;
}
.btn{
  scale: 0.9;
  width: 120px;
  height: 36px;
}
.btn-outline-primary {
  margin-left: 20px;
  --bs-btn-color: black;

}
#loginPhoto{
  width: 25vw;
  height: 40vh;
  min-width: 300px;
  min-height: 400px;
  position: absolute;
  top: 29vh;
  left: 60vw;
  z-index: 1;
  transform: rotate(-8deg);
  object-fit: cover;
  border-radius: 15px;
}
.Text{
  /* font-family:"나눔스퀘어ac"; */
  font-weight: bold;
  font-size: 1.9rem;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  z-index: 2;
}